@charset "utf-8";
/* CSS Document */

html {
	
	/*background-image: url(../pozadina/images.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
	background-size:cover;
	background-color:violet;
}


body {
	
	margin: 20px;
	padding: 20px;	
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	
	
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0.3em 0 0.5em;
}
h1 { font-size: 38px;}
h2 { font-size: 30px;}
h3 { font-size: 26px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 18px;}

a:link,
a:visited {
	color:#black;
	text-decoration: none;
}
a:hover {
	color:#black;
	text-decoration: underline;
}

a:active {
	color:#332223;
}




#wrapper {
	
	width:1020px;
	padding:35px;
	margin:0 auto;
	background-color:violet;
	
}
#header {
	
	margin-bottom:30px;
	padding:30px;
	overflow:hidden;
}



#logo {
	float:left;
}
#slogan {
	float:right;
	color: white;
	font-style:italic;
	font-size: 22px;
	text-decoration:blink;
}
#slogan p {
	margin: 0;
}
#nav {
	height:40px;
	/*background:#534741;*/
	margin-bottom:15px;
	font-size: 17px;
}
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav ul li {
	float:left;
	position: relative;
}
#nav ul li a {
	padding:10px;
	height:20px;
	line-height: 20px;
	display: block;
	transition: 0.5s all ease;
}
#nav ul li a:link,
#nav ul li a:visited {
	color:#FFFFFF;
	text-decoration: none;
}
#nav ul li a:hover {
	color:#FFFFFF;
	background:#CCCCCC;
}
#nav ul li a:active {
	color:#FFFFFF;
	background:#CCCCCC;
}

#nav ul li ul {
	background:rgba(55,55,55,0.6);
	position: absolute;
	top: 100%;
	left: 0;
	width:120px;
	display: none; /* u startu */
}
#nav ul li ul li {
	float: none;
}
#nav ul li:hover > ul {
	display: block;
}

#nav ul li ul li ul {
	left: 100%;
	top: 0;
}
#main {
	float:left;
	width:760px;
	margin-bottom:15px;
}
#sidebar {
	float:right;
	width:280px;
	margin-bottom:15px;
	position: relative;
}

#footer {
	
	clear:both;
	text-align: center;
	color: #FFFFFF;
	font-size: 20px;
	padding: 8px;
}
#footer p{
	margin: 0;
}









